<!-- Validation failure messages -->
<% if @sill.errors.any? %>
  <% @sill.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Sill</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_sill" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for light_type -->
      <div class="form-group">
        <label for="light_type" class="control-label">
          Light type
        </label>

        <textarea id="light" name="light" placeholder="Light type" class="form-control" rows="3"><%= @sill.light %></textarea>
      </div>

      <!-- Label and input for light -->
      <div class="form-group">
        <label for="light" class="control-label">
          Light
        </label>

        <input type="text" id="light" name="light" placeholder="Light" class="form-control" value="<%= @sill.light %>">
        <%= select_tag(:light, options_from_collection_for_select(Sills.all, :id, @sill.light), :class => "form-control") %>

      </div>
      <!-- Label and input for temp_min -->
      <div class="form-group">
        <label for="temp_min" class="control-label">
          Temper min
        </label>

        <input type="text" id="temp_min" name="temp_min" placeholder="Temp min" class="form-control" value="<%= @sill.temp_min %>">
        <%= select_tag(:temp_min, options_from_collection_for_select(Sills.all, :id, @sill.temp_min), :class => "form-control") %>

      </div>

      <!-- Label and input for temp_max -->
      <div class="form-group">
        <label for="temp_max" class="control-label">
          Temp max
        </label>

        <input type="text" id="temp_max" name="temp_max" placeholder="Temp max" class="form-control" value="<%= @sill.temp_max %>">
        <%= select_tag(:temp_max, options_from_collection_for_select(Sills.all, :id, @sill.temp_max), :class => "form-control") %>

      </div>

      <!-- Label and input for height -->
      <div class="form-group">
        <label for="height" class="control-label">
          Space available for plant - Height
        </label>

        <input type="text" id="height" name="height" placeholder="Height" class="form-control" value="<%= @sill.height %>">
      </div>

      <!-- Label and input for width -->
      <div class="form-group">
        <label for="width" class="control-label">
          Space available for plant - Width
        </label>

        <input type="text" id="width" name="width" placeholder="Width" class="form-control" value="<%= @sill.width %>">
      </div>

      <button class="btn btn-success">
        Create Sill
      </button>
      or
      <a href="/sills">Cancel</a>
    </form>
  </div>
</div>
