<div class="page-header">
  <h3>Sill #<%= @sill.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Light type</dt>
      <dd><%= @sill.light_type %></dd>

      <dt>Home temperature</dt>
      <dd><%= @sill.home_temperature_id %></dd>

      <dt>Height</dt>
      <dd><%= @sill.height %></dd>

      <dt>Width</dt>
      <dd><%= @sill.width %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/sills" class="btn btn-primary">
        Back
      </a>
      <a href="/sills/<%= @sill.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_sill/<%= @sill.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
