<div class="page-header">
  <h3>Plant #<%= @plant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @plant.name %></dd>

      <dt>Description</dt>
      <dd><%= @plant.description %></dd>

      <dt>Official Name</dt>
      <dd><%= @plant.officialname %></dd>

      <dt>Highlights</dt>
      <dd><%= @plant.highlights %></dd>

      <dt>Height</dt>
      <dd><%= @plant.height %></dd>

      <dt>Width</dt>
      <dd><%= @plant.width %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @plant.id %>.jpg"></dd>

      <dt>Care ID</dt>
      <dd><%= @plant.care_id %></dd>

      <!-- <dd><%= Care.where(:plant_id => @care.id) %></dd> -->

      <dt>Sills</dt>
      <% @plant.sills.each do |sill| %>
        <dd>
        <%= sill.plant.name %>
        in
        <%= sill.user_id.username %>'s home
        </dd>
      <% end %>

        </dl>

    <div class="btn-group btn-group-justified">
      <a href="/plants" class="btn btn-primary">
        Back
      </a>
      <a href="/plants/<%= @plant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_plant/<%= @plant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
